appsettings.json

bin/
obj/
*.dll
*.exe
*.pdb
*.log

.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

*.iml
*.ipr
*.iws
.idea/
Auth-Hexagonal-Arch-Module/

publish/
wwwroot/

Properties/

Migrations/
